extends includes/layout

block content
  .card
    .card-content
      .level.has-text-centered
        .level-item
          div
            p.heading
              time(datetime=page.date.toJSON())=date(page.date, 'LL')
            h1.is-1.title.has-text-dark=page.title
      hr
      .content.has-text-centered
        != page.content
        hr
        .level.is-mobile
          .level-item
            if page.prev && is_post()
              a.level-item(href=url_for(page.prev.path))
                span.icon
                  i.fas.fa-chevron-left
                span.Eight_One mas nuevo
            if page.next && is_post()
              a.level-item(href=url_for(page.next.path))
                span.Eight_One mas viejo
                span.icon
                  i.fas.fa-chevron-right
      // include includes/comments.pug
