extends includes/layout

block content
  .container
    .level
      .level-item.has-text-centered
        div
          p.is-1.title.heading tags
          p.heading todas!!!
    .level
      .level-item.has-text-centered
        .field.is-grouped.is-grouped-multiline
          each tag in site.tags.toArray()
            a.control(href=config.root + tag.path)
              .tags.has-addons
                span.tag.is-rounded=tag.posts.length
                span.tag.is-rounded.is-info=tag.name
    .container.has-text-centered
      each post in site.posts.sort('date', -1).toArray()
        each tagP in post.tags.toArray()
          if (tagP.name == page.tag)
            div
              a.is-link(href=url_for(post.path))=post.title