aside
  .level
    .level-item
        figure.image.is-64x64
          img.is-rounded(src="/images/avatar.jpg")
  .level
    .level-item.has-text-centered
      div
        p.heading=page.author
  if page.tags && page.tags.length != 0
    .level-item
      .field.is-grouped.is-grouped-multiline
        each tag in page.tags.toArray()
          a.control(href=config.root + tag.path)
            .tags.has-addons
              span.tag.is-rounded=tag.posts.length
              span.tag.is-rounded.is-info=tag.name