if page.comments && theme.disqus.enabled
  .blog-post-comments
    #disqus_thread
      noscript
        !="JS no activado Disqus no puede cargar"
    script.
      var disqus_shortname = "amaurytobiasquiroz";
        (function(){
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }());
    
