- var pageTitle = page.title || config.subtitle || ''

<!DOCTYPE html>
html(class="has-navbar-fixed-bottom", lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle
    
    link(rel="icon", href=config.root + 'images/favicon.ico')
    link(rel="stylesheet", href=config.root + 'css/main.css')
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css')
    link(rel="stylesheet" href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')

  body
    include navbar.pug
    .hero.is-dark.is-fullheight-with-navbar
      .hero-body
        if is_home() || is_tag()
          block content
        if is_post()
          .columns
            .column.is-9
              block content
            .column.is-3
              include aside.pug
        if is_archive()
      .hero-foot
        .container.has-text-centered
          a(href='https://bulma.io' target='_blank' rel='noreferrer')
            img(src='/images/made-with-bulma--white.png' alt='Made with Bulma' width='128' height='24')
